@font-face {
  font-family: 'Roboto Regular';
  src: url('./base/fonts/roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./base/fonts/roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./base/fonts/roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./base/fonts/robotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'CeraPro Regular';
  src: url('./base/fonts/ceraPro-Regular.ttf');
}

@font-face {
  font-family: 'Opensans Semibold';
  src: url('./base/fonts/openSans-SemiBold.ttf');
}
