<div class="contmodal">
  <!-- CONTACT MODAL -->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="modal__close" data-modal-close>
        <svg class="modal__close-icon" width="11" height="11">
          <use href="/src/icon/symbol-defs.svg#modal_cross"></use>
        </svg>
      </button>

      <p class="modal__text">
        Thank you for your message! We will contact you soon!
      </p>


      <a href="../../index.html" class="modal__button">OK</a>


    </div>
  </div>
</div>
<!-- <script src="/src/index.js"></script> -->
