<div class="tomodal1">
  <!-- TAKE ORDER MODAL - 1 -->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal-box">
      <button data-modal-close type="button" class="modal-close-tab">
        <svg class="form__icon" width="11" height="11">
          <use href="/src/icon/symbol-defs.svg#modal_cross"></use>
        </svg>
      </button>

      <p class="modal-text">Excellent choice! Let's move on to the checkout!</p>
      <a href="/src/index.html"
        ><button type="button" class="modal-button">Let's go!</button></a
      >
    </div>
  </div>
</div>
