<section class="footer">
  <h2 class="visually-hidden">Footer shopforgamers</h2>
  <div class="container footer-thumb">
    <a href="/src/index.html" class="logo">SHOP FOR<br />GAMERS</a>
    <div class="footer-menu__thumb">
      <ul class="footer-menu__list">
        <li class="footer-menu__item">
          <a
            href="/src/partials/access/accessories.html"
            class="footer-menu__link"
            >Accessories</a
          >
        </li>
        <li class="footer-menu__item">
          <a href="/src/partials/order/takeorder.html" class="footer-menu__link"
            >Take order</a
          >
        </li>
        <li class="footer-menu__item">
          <a
            href="/src/partials/contacts/contact.html"
            class="footer-menu__link"
            >Contact</a
          >
        </li>
        <li class="footer-menu__item">
          <a href="/src/partials/blog/blog.html" class="footer-menu__link"
            >Blog</a
          >
        </li>
      </ul>
      <ul class="footer-join__list">
        <li class="footer-join__item">
          <a href="" class="footer-join__link">
            <svg class="footer-join__icon" width="24" height="24">
              <use href="/src/icon/symbol-defs.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="footer-join__item">
          <a href="" class="footer-join__link">
            <svg class="footer-join__icon" width="24" height="24">
              <use href="/src/icon/symbol-defs.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-join__item">
          <a href="" class="footer-join__link">
            <svg class="footer-join__icon" width="24" height="24">
              <use href="/src/icon/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contact__thumb">
      <p class="footer-contact__tittle">Email</p>
      <ul class="footer-email__list">
        <li>
          <a href="mailto:sfg.info@gmail.com" class="footer-contact__link"
            >sfg.info@gmail.com</a
          >
        </li>
      </ul>
      <p class="footer-contact__tittle">Phone number</p>
      <ul class="footer-tel__list">
        <li class="footer-tel__item">
          <a href="tel:+38(093)6432288" class="footer-contact__link"
            >+38 (093) 643 22 88</a
          >
        </li>
        <li class="footer-tel__item">
          <a href="tel:+38(050)3454423" class="footer-contact__link"
            >+38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
