<header class="header">
  <div class="header__container">
    <nav class="header__navigation">
      <a href="/src/index.html" class="header__logo">SHOP FOR GAMERS</a>
      <button
        class="menu-button"
        type="button"
        data-menu-button
        aria-expanded="false"
        aria-controls="menu-container"
      >
        <svg width="54" height="36" aria-label="Перемикач мобільного меню">
          <use
            class="icon__burger"
            href="/src/icon/symbol-defs.svg#icon_burger"
          ></use>
          <use
            class="icon__cross"
            href="/src/icon/symbol-defs.svg#icon_cross"
          ></use>
        </svg>
      </button>
      <div class="menu-container" id="menu-container" data-menu>
        <ul class="header__list">
          <li class="header__item">
            <a href="/src/partials/access/accessories.html" class="header__link"
              >accessories</a
            >
          </li>
          <li class="header__item">
            <a href="/src/partials/contacts/contact.html" class="header__link"
              >contact</a
            >
          </li>
          <li class="header__item">
            <a href="/src/partials/blog/blog.html" class="header__link">blog</a>
          </li>
        </ul>
      </div>
      <a href="/src/partials/access/accessories.html" class="shop-now"
        >shop now</a
      >
    </nav>
  </div>
</header>
