.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 20, 20, 0.8);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal-box {
  @media screen and (max-width: 768px) {
    overflow: scroll;
  }
  @media screen and (min-width: 768px) {
    max-width: 688px;
    max-height: 500px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 768px;
    max-height: 533px;
  }
  width: 95%;
  height: 95%;
  position: absolute;
  max-width: 272px;
  max-height: 367px;
  background: #01383a;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 100px 45px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-mob {
  // @media screen and (min-width: 768px) {
  //   display: none;
  //   max-width: inherit;
  // }

  border: 1.5px solid #86e543;
  background-color: #01383a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.modal-close-tab {
  max-width: inherit;
  border: 1.5px solid #86e543;
  width: 31px;
  height: 31px;
  background-color: #01383a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  @media screen and (min-width: 767.9px) {
    font-size: 56px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
  }
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
}

.modal-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border: none;
  background: #86e543;
  border-radius: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  @media screen and (min-width: 767.9px) {
    font-size: 32px;
    line-height: 1.18;
  }
  font-size: 16px;
  line-height: 1.18;
  text-align: right;
  text-transform: uppercase;
  color: #01383a;
  margin: 0 auto;
  transition: box-shadow 200ms linear;
}
.modal-button:hover {
  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
}

.modal__close {
  max-width: inherit;
  border: 1.5px solid #86e543;
  width: 31px;
  height: 31px;
  background-color: #01383a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
